# mkdir -p envs && conda create -y --prefix ./envs/stuned_env python==3.10
git+https://github.com/arubique/stnd.git
torch>=1.13.1
deepdiff>=5.8.1
watchdog>=3.0.0
matplotlib>=3.5.3
gdown>=4.5.1
torchvision>=0.14.1
datasets>=3.6.0
psutil>=5.9.0
